.thumbnailContainer {
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 300px;
}

.imageLocation {
  display: block;
  font-size: 0.7rem;
  color: var(--ifm-color-emphasis-600);
  text-align: right;
  padding: 0.25rem 0.5rem;
  font-style: italic;
}
